<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/linear-progress@0.41.0/dist/mdc.linear-progress.min.css">
    <link rel="stylesheet" href="/static/index.css?1">
</head>

<body>
    <div class="container">
        <h1>欢迎，
            <%= username %>
        </h1>
        <div><a href="/logout">注销</a></div>
        <hr>
        <div class="part">
            <h2 class="part-title">修改密码</h3>
                <div class="part-content">
                    <form onsubmit="return false" name="changepwd" id="Fchangepwd">
                        <div id="changepwd-error" class="error-indicator"></div>
                        <div><input type="password" id="old_password" name="old_password" placeholder="旧密码" required
                                autocomplete="current-password"></div>
                        <div><input type="password" id="new_password" name="new_password" placeholder="新密码" required
                                autocomplete="new-password"></div>
                        <div><input type="password" id="new_password_repeat" name="new_password_repeat" placeholder="重复新密码"
                                required autocomplete="new-password"></div>
                        <div><button type="submit" class="submit-btn" id="changepwd_submit" onclick="changePassword()">更改密码</button></div>
                    </form>
                </div>
        </div>
        <div class="part">
            <h2 class="part-title">设置应用密码</h3>
                <div class="part-content">
                    <label>当您与在其他站通过本站的用户名密码登录时，请使用此密码。</label>
                    <p>当前应用密码状态：<%= app_password !== null ? '已设置' : '未设置' %></p>
                    <form onsubmit="return false" name="changeapppwd" id="Fchangeapppwd">
                        <div id="changeapppwd-error" class="error-indicator"></div>
                        <div><input type="text" id="new_app_password" name="new_app_password" placeholder="新应用密码" required
                                autocomplete="new-password"></div>
                        <div class="button-set">
                            <button type="submit" class="submit-btn" id="changeapppwd_submit" onclick="changeAppPassword()">更改密码</button>
                            <% if (app_password !== null) { %>
                            <button type="button" class="unbind-btn" id="deleteapppwd_submit" onclick="deleteAppPassword()">删除密码</button>
                            <% } %>
                        </div>
                    </form>
                </div>
        </div>
        <div class="part">
            <h2 class="part-title">绑定</h2>
            <div class="part-container">
                <div class="part subpart">
                    <h3 class="subpart-title">论坛(bbs)</h3>
                    <div class="subpart-content">
                        <div id="bbslogin-error" class="error-indicator"></div>
                        <% if (!bbs_binded) { %>
                        <div>
                            <form onsubmit="return false" name="bind_bbs" id="Fbind_bbs">
                                <div><input type="text" id="bbs_username" name="bbs_username" placeholder="用户名"
                                        required autocomplete="off"></div>
                                <div><input type="password" id="bbs_password" name="bbs_password" placeholder="密码"
                                        required autocomplete="off"></div>
                                <div><button type="submit" class="submit-btn g-recaptcha" data-sitekey="6LeXYHwUAAAAAM8_nebXjxcXShHtSTKxZwXmwM5h"
                                        data-callback="doBindBBS">登录</button></div>
                                <label>您的用户名和密码将被用于一次性认证论坛身份。此凭据不会保存，不受到密码更改的影响。绑定后请尽快修改密码。</label>
                            </form>
                        </div>
                        <% } else { %>
                        <div>
                            <div>您已绑定到论坛帐号：
                                <div class="pre-text">
                                    <%= bbs_id %>&nbsp;(<%= bbs_name %>)</div>
                            </div>
                            <form name="bind_bbs" onsubmit="return false">
                                <button id="unbind-bbs" class="unbind-btn" onclick="doUnbindBBS()">解绑论坛帐号</button>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="part subpart">
                    <h3 class="subpart-title">Minecraft</h3>
                    <div class="subpart-content">
                        <div id="minecraft-error" class="error-indicator"></div>
                        <% if (!minecraft_binded) { %>
                        <div>
                            <div>请在 Minecraft 游戏聊天框中按原样发送以下内容：</div>
                            <div class="pre-text">&lt;ssoauth:&nbsp;<%= token %>&gt;</div>
                            <div>您的 Minecraft 帐户将自动绑定。</div>
                        </div>
                        <% } else { %>
                        <div>
                            <div>您已绑定到 Minecraft 帐号：
                                <div class="pre-text"><a href="https://stats.craft.moe/player/<%= minecraft_id %>">
                                        <%= minecraft_id %></a></div>
                            </div>
                            <form name="bind_minecraft" onsubmit="return false">
                                <button id="unbind-minecraft" class="unbind-btn" onclick="doUnbindMinecraft()">解绑&nbsp;Minecraft&nbsp;帐号</button>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="part subpart">
                <h3 class="subpart-title">Telegram</h3>
                <div class="subpart-content">
                    <div id="telegram-error" class="error-indicator"></div>
                    <% if (telegram_binded) { %>
                    <div>您已绑定到 Telegram 帐号：
                        <div class="pre-text">
                            <%= telegram_id %>
                        </div>
                    </div>
                    <% } %>
                    <% if (telegram_binded) { %>
                    <button id="unbind-telegram" class="unbind-btn" onclick="doUnbindTelegram()">解绑 Telegram 帐号</button>
                    <% } else { %>
                    <script async src="https://telegram.org/js/telegram-widget.js?5" data-telegram-login="kedamamapmanbot" data-size="medium"
                        data-userpic="false" data-radius="5" data-onauth="doBindTelegram(user)"></script>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="part">
            <h2 class="part-title">OAuth 客户端</h3>
                <div class="part-content">
                    <% if (clients) { %>
                    <ul>
                        <% for (const c of clients) { %>
                            <li><a href="/editclient?client_id=<%= c.client_id %>"><%= c.app_name %></a></li>
                        <% } %>
                    </ul>
                    <hr>
                    <% } %>
                    <div><a href="/editclient">创建客户端</a></div>
                </div>
        </div>
    </div>
    </div>

    </div>
    <div id="progress" role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate mdc-linear-progress--closed progress">
        <div class="mdc-linear-progress__buffering-dots"></div>
        <div class="mdc-linear-progress__buffer"></div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
        </div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
        </div>
    </div>
    <script src="https://www.recaptcha.net/recaptcha/api.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@material/linear-progress@0.41.0/dist/mdc.linearProgress.min.js" async
        defer></script>
    <script src="/static/index.js?1" async defer></script>

</body>

</html>
